/* yellow = #FAD089*/
/* orange = #FF9C5B */
/* darker orange = #F5634A */
/* red = #ED303C */
/* blue = #3B8183 */
.btn {
  border-radius: 0px !important;
}

body {
  background: #2E2633;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

.slide-container {
  background: #F5634A;
  height:auto;
  min-height:450px;
  height:auto !important;
  height:450px;
  margin-top: 50px;
}
