/* yellow = #FAD089*/
/* orange = #FF9C5B */
/* darker orange = #F5634A */
/* red = #ED303C */
/* blue = #3B8183 */
.btn {
  border-radius: 0px !important;
}

.fa {
  
}

body {
  background: #3B8183;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

.slide-container {
  background: #FF9C5B;
  height:auto;
  min-height:400px;
  height:auto !important;
  height:400px;
  margin-top: 50px;
}

#side-nav {
  background: #FF9C5B;
  height:100vh;
}

#side-nav ul {
  padding-left: 0px;
  padding-top:100px;
  margin-left: 0px;
  list-style: none;
}

#side-nav ul li {
  padding-top:10px;
  padding-bottom:10px;
  margin-top: 0px;
}

#side-nav ul li a {
  text-align: left;
  padding-left: 10px;
}

#side-nav ul li:hover {
  background: red;
  color: white;
}

#side-nav ul li:active {
  background: green;
}

#menu-toggle-out {

}

#menu-toggle-in {

}
