/* MENU BUTTON */
#menu-toggle-out {
  position: absolute;
  margin-left: 0px;
  background: rgba(0,0,0,0);
  color: white;
}

#menu-toggle-out:hover {
  background: rgba(0,0,0,0);
  color: white;
}

/* NAVBAR */
#side-nav {
  background: #110c11;
  height:100vh;
  width: 150px;
  margin-left: -150px;
}

#side-nav ul {
  padding-left: 0px;
  padding-top: 0px;
  margin-left: 0px;
  list-style: none;
}

.nav-link {
  color: #D5D0D7;
  background: #110c11;
  padding-top:15px;
  padding-bottom:15px;
  margin-top: 0px;
}

.nav-link:hover {
  color: #25b2bb;
  background: #2e242c;
  cursor: pointer;
}

.nav-link a {
  font-family: 'Dosis', sans-serif;
  text-align: left;
  padding-left: 10px;
}

#nav-home {
  background: #2e242c;
  color: #25b2bb;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
